.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}
.container{background-color:#000; font-color: white;}
h5{color: #c00027;font-size:17px;}
h5:hover{color:white;}
p{color:grey;}
#facebook,#instagram,#twitter{color:#c00027;}
.btn btn-primary{color:#c00027;}
li a:hover {color:#c00027;}